<div class="card">
  <h3 class="card-header">Mitgliedschaft bearbeiten</h3>
  <div class="card-body">

    <%= render 'form_edit', membership: @membership %>

    <%= link_to 'Details', @membership %> |
    <%= link_to 'Zurück', memberships_path %>
  </div>
</div>