<div class="card">
  <h3 class="card-header">Mitglied bearbeiten</h3>
  <div class="card-body">
    <%= render 'form', person: @person %>

    <%= link_to 'Anzeigen', @person %> |
    <%= link_to 'Zurück', people_path %>
  </div>
</div>