<div class="card">
  <h3 class="card-header">Gebot bearbeiten</h3>
  <div class="card-body">

    <%= render 'form', bid: @bid %>

    <%= link_to 'Details', @bid %> |
    <%= link_to 'Zurück', bids_path %>
  </div>
</div>