<div class="card">
  <h3 class="card-header">Verteilerstelle bearbeiten</h3>
  <div class="card-body">

    <%= render 'form', distribution_point: @distribution_point %>

    <%= link_to 'Details', @distribution_point %> |
    <%= link_to 'Zurück', distribution_points_path %>
  </div>
</div>