<div class="card">
  <h3 class="card-header">Transaktion bearbeiten</h3>
  <div class="card-body">
    <%= render 'form', transaction: @transaction %>

    <%= link_to 'Details', @transaction %> |
    <%= link_to 'Zurück', transactions_path %>
  </div>
</div>